{%extends "base.html"%}
{%block content%}
<div class="container">
    <div id="cart">
        <h4>Корзина</h4>
        <table class="table table-cart">
            {% for key, value in display_cart.items() %}
            <tr>
                <td>
                    {% if (value['img'])%}
                    <img style="width:100px" src="{{ url_for('static',filename='images/'+value['img']) }}" alt="">
                    {% else %}
                    <img src="" alt="image">
                    {%endif%}
                </td>
                <td>{{value['title']}}</td>
                <td style="width:150px">
                    {{ value['qty'] }}  &nbsp; шт
                </td>

                <td class="text-right">{{ value['price'] }}</td>
                <td> {{value['price']*value['qty'] }}</td>
                <td style="text-align: center;"> 
                    <form action="{{ url_for('delete_from_cart') }}" method="POST">
                        <input type ="hidden" name = "good_id" value = "{{ value['id'] }}" />
                        <button><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
            {%endfor%}
            
            {%if isEmty%}
            <tr>
                <td colspan="4" class="text-center">Корзина пуста</td>
            </tr>
            {%endif%}
            <tr>
                <td></td>
                <td class="text-right">Cart Total</td>
                <td class="text-right">{{ total }}</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
{%endblock%}
