{% extends "base.html" %}
{% block content %}   
    <div class="container">
        <div id="content">
            <div class="row">
            <div class="col-md-6">
                <div class="slider">
                    <img src="{{url_for('static', filename='img/cube1.png')}}" alt="">
                    <img src="{{url_for('static', filename='img/cube2.png')}}" alt="">
                    <img src="{{url_for('static', filename='img/cube3.png')}}" alt="">
                    <img src="{{url_for('static', filename='img/cube4.png')}}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="disc">
                    <div class="border">
                        <h2>{{ good.title }}</h2>
                    </div>
                    <div class="border ">
                        <p>краткое описание</p>
                        <p>{{ good.desc }}</p>
                        <form action="{{url_for('add_to_cart')}}" method="POST">
                                <input type ="hidden" name = "good_id" value = "{{ good.id }}" />
                                <input type = "submit" value = "submit" />
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}