{%extends "base.html"%}

{% block content%}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="name-category">
                    <p>каталог</p>
                </div>
                <div class="category">
                <ul>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Деревянные</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Магнитные</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Кубики 2х2х2</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Стандартные</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Кубики 4x4x4</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Кубики 5х5х5</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Кубики 6х6х6</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Пирамида</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Мегамиксы</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Наклейки</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Запчасти</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="item d-flex align-items-center">
                                <p>Масло</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
            {% block rightSide %}{% endblock %}
        </div>
    </div>
</section>

{%block below %}{% endblock %}
 {% endblock %}