{%extends "base.html"%}

{% block content%}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="search  col-lg-12 d-flex">
                <form action="" class="form-search">
                    <input type="text" name="search-form">
                    <button type="submit" class="button button_search">найти</button>
                </form>
            </div>
            <div class="col-lg-3">
                <div class="name-category">
                    <p>каталог</p>
                </div>
                <div class="category">
                {% for good in goods %}
                <ul>
                    <li>
                        <a href="{{ url_for('goods', category=good.category) }}">
                            <div class="item d-flex align-items-center">
                                <p>{{good.category}}</p>
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    </li>
                </ul>
                {% endfor %}
                </div>
            </div>
            {% block rightSide %}{% endblock %}
        </div>
    </div>
</section>

{%block below %}{% endblock %}
 {% endblock %}